body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    text-align: center;
   
  }
  
  .header {
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .refer-now-button {
    background-color: #ff6f61;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .refer-now-button:hover {
    background-color: #ff5640;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: rgb(10, 14, 71);
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    max-width: 500px;
    width: 100%;
  }
  
  .close-button {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin: 10px 0 5px;
  }
  
  form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  form button {
    background-color: #2d4db6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  form button:hover {
    background-color: #167c2f;
  }
  .close-button{
    background-color: #ff5640;
    padding-right: 3px;
    padding-left: 3px;
  }
  